language: php

matrix:
  include:
    - php: 7.1
      env: APCU_VERSION=5.1.7
    - php: 7.0
      env: APCU_VERSION=5.1.7
    - php: 5.6
      env: APCU_VERSION=4.0.11

install:
  - composer install

before_script:
  - yes "" | pecl install -f apcu-${APCU_VERSION}
  - printf "apc.enable_cli=1" > apcu-cli.ini
  - phpenv config-add apcu-cli.ini

script:
  - vendor/bin/phpunit
